a {color: #310909; padding-left: 25px;}
#container {width: 1000px; margin: 0 auto; color: rgb(0, 0, 0); font-size: 15pt;}
#header {width: 1000px; height: 180px; margin: 0 auto; background: #858184;}
#sidebar {width: 240px; height: 410px; margin: 0; float: left; background: #06ceb3;}
#content { width: 760px; height: 410px; margin: 0; float: left; background: #269ec2;}
#footer { width: 1000px; height: 70px; float: left; background: #4d8bac; color: #000000;}
a:link {color: rgb(0, 0, 0); background-color: transparent; text-decoration: none;}
a:visited {color: rgb(0, 0, 0); background-color: transparent; text-decoration: none;}
a:hover {color: rgb(0, 0, 0); background-color:  transparent; text-decoration: none;}
a:active {color: yellow; background-color:  transparent; text-decoration: underline;}
p {padding-left: 25px;}
p.footer{text-align: center;}
p.conteudo{text-align: center;}
.paragrafo{font-size: 15px;}
img{float: left;}